*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.conteiner{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.apresentacao{
    background-color: rgba(128, 128, 128, 0.224);
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-right: solid 3px black;
}


img{
    width: 300px;
    height: 300px;
    aspect-ratio: 16/9;
    margin-bottom: 50px;
    border-radius: 50%;
}